@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.card {
    width: 395px;
    height: 620px;
    border: 1px solid black;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}